body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 5px;
    margin: 20px auto;
    width: 610px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    background-color: #f4f4f4;
    border: 2px solid #333;
    cursor: pointer;
}

.cell:hover {
    background-color: #ddd;
}

#game-status {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

#reset-btn {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 20px;
}

#reset-btn:hover {
    background-color: darkred;
    transform: scale(1.1);
}
