body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Hace que ocupe toda la pantalla */
    background-color: #222; /* Color de fondo opcional */
}

.traffic-light {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.light {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    background-color: black;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: white;
    
}